body {
  background-color: #ff7e07;
  min-height: 100vh;
}

.App {
  margin: 0 3vw;
  padding-top: 100px;
}

@media screen and (min-width: 1000px) {
  .App {
    margin: 0 20vw;
    padding-top: 100px;
  }
}

button {
  width: fit-content;
  margin: 5px auto;
}

.mb-50 {
  margin-bottom: 50px;
}

.typography {
  color: white;
}
